{%- comment -%}
Wrapper for legacy include name. Prefer using `publications/pubs_list.html` directly.
{%- endcomment -%}

{% assign pubs_param = include.pubs %}
{% assign pub_num_param = include.pub_num %}
{% assign author_list_param = include.author_list %}
{% assign l_authors_param = include.l_authors %}
{% assign background_param = include.background %}

{% include publications/pubs_list.html pubs=pubs_param pub_num=pub_num_param author_list=author_list_param l_authors=l_authors_param background=background_param layout='bottom' %}
