{%- comment -%}
_includes/publications/pubs_new.html
接收参数：
  include.pubs         — 要渲染的 publication 列表数组
  include.author_list  — 要高亮显示的作者名单（Array）
  include.pub_num      — 起始编号
  include.background   — 可选，若为 1 则使用背景样式
{%- endcomment -%}

{% assign pubs_param = include.pubs %}
{% assign pub_num_param = include.pub_num %}
{% assign author_list_param = include.author_list %}
{% assign background_param = include.background %}

{% include publications/pubs_list.html pubs=pubs_param pub_num=pub_num_param author_list=author_list_param background=background_param layout='right' %}
