---
title: Awards
lab_name: Zhou Lab @ PSU
layout: cell_bg
permalink: /award
---

<h1>Awards</h1>
{% assign awards_list = site.data.Awards | sort: 'time' | reverse %}

{% for award in awards_list %}
  <div id="member" style="margin-bottom: 2rem;">
    {% if award.img %}
      <img alt="{{award.name}}" class="avatar" src="/assets/images/awards/{{award.img}}">
    {% endif %}
    <div id="member-inf">
      <h2>{{ award.name }}</h2>
      <h3>{{ award.description }}</h3>
      <p>time: {{ award.time | date: "%B %Y" }}</p>
    </div>
  </div>
{% endfor %}
